# === FRONTEND CONFIG ===
frontend:
  replicaCount: 2
  image:
    repository: yimingsu01/orbital-frontend
    tag: latest
    pullPolicy: Always

  service:
    type: ClusterIP
    port: 80

  livenessProbe:
    httpGet:
      path: /
      port: 80
    initialDelaySeconds: 10
    periodSeconds: 30
  readinessProbe:
    httpGet:
      path: /
      port: 80
    initialDelaySeconds: 5
    periodSeconds: 10

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 128Mi

  nodeSelector: {}
  tolerations: []
  affinity: {}

# === BACKEND CONFIG ===
backend:
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "5000"
  replicaCount: 2
  image:
    repository: yimingsu01/satellite-backend
    tag: latest
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 5000

  livenessProbe:
    httpGet:
      path: /api/health
      port: 5000
    initialDelaySeconds: 10
    periodSeconds: 30
  readinessProbe:
    httpGet:
      path: /api/health
      port: 5000
    initialDelaySeconds: 5
    periodSeconds: 10

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi

  nodeSelector: {}
  tolerations: []
  affinity: {}


# === TiDB Secrets  ===
tidb:
  host: "basic-tidb.tidb-cluster.svc.cluster.local"
  root: "root"
  password: ""
  database: "satellite_sim"

tidbCAConfigMapName: tidb-ca-configmap

# === INGRESS CONFIG (PRODUCTION) ===
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: orbital.local
      paths:
        - path: /
          pathType: Prefix
          backend:
            serviceName: satellite-app-frontend
            servicePort: 80
        - path: /api
          pathType: Prefix
          backend:
            serviceName: satellite-app-backend
            servicePort: 5000
serviceAccount:
  create: true
  name: ""
  automount: true
  annotations: {}


autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
